$color-pink-50: #fefcfd;
$color-pink-100: #f6e0e4;
$color-pink-200: #efc4cc;
$color-pink-300: #e7a8b4;
$color-pink-400: #e192a1;
$color-pink-500: #d97689;
$color-pink-600: #d15a71;
$color-pink-700: #b8334d;
$color-pink-800: #9c2b41;
$color-pink-900: #802435;
$color-pink-base: #D97689;
$color-orange-50: #ffffff;
$color-orange-100: #fbf2ed;
$color-orange-200: #f6dbcf;
$color-orange-300: #f0c5b2;
$color-orange-400: #ebb39a;
$color-orange-500: #e59d7c;
$color-orange-600: #df875e;
$color-orange-700: #d35f2a;
$color-orange-800: #b55224;
$color-orange-900: #98441e;
$color-orange-base: #E59D7C;
$color-yellow-50: #ffffff;
$color-yellow-100: #ffffff;
$color-yellow-200: #fefbf5;
$color-yellow-300: #faeed6;
$color-yellow-400: #f6e4bc;
$color-yellow-500: #f2d79d;
$color-yellow-600: #eeca7d;
$color-yellow-700: #e6b345;
$color-yellow-800: #e2a625;
$color-yellow-900: #c9921b;
$color-yellow-base: #F2D79D;
$color-green-50: #ffffff;
$color-green-100: #f6fbf5;
$color-green-200: #e1f0dc;
$color-green-300: #cce5c4;
$color-green-400: #badcb0;
$color-green-500: #a5d197;
$color-green-600: #90c67e;
$color-green-700: #69b252;
$color-green-800: #5a9c45;
$color-green-900: #4b833a;
$color-green-base: #A5D197;
$color-purple-50: #ffffff;
$color-purple-100: #fbf8fc;
$color-purple-200: #ebdff1;
$color-purple-300: #dcc6e6;
$color-purple-400: #cfb3dd;
$color-purple-500: #c09ad2;
$color-purple-600: #b181c7;
$color-purple-700: #9555b3;
$color-purple-800: #82469e;
$color-purple-900: #6e3b85;
$color-purple-base: #C09AD2;
$color-teal-50: #ffffff;
$color-teal-100: #f0f8f8;
$color-teal-200: #d7eeeb;
$color-teal-300: #bfe3df;
$color-teal-400: #abdad4;
$color-teal-500: #92cfc8;
$color-teal-600: #79c4bb;
$color-teal-700: #4db0a4;
$color-teal-800: #42978d;
$color-teal-900: #387e76;
$color-teal-base: #92CFC8;
$color-blue-50: #e9f2f7;
$color-blue-100: #cee1ee;
$color-blue-200: #b4d1e5;
$color-blue-300: #99c1dc;
$color-blue-400: #84b4d5;
$color-blue-500: #69a4cc;
$color-blue-600: #4e94c3;
$color-blue-700: #35729c;
$color-blue-800: #2c5f81;
$color-blue-900: #234b67;
$color-blue-base: #69A4CC;
$color-gray-50: #7a869f;
$color-gray-100: #67748f;
$color-gray-200: #58637a;
$color-gray-300: #495265;
$color-gray-400: #3d4555;
$color-gray-500: #2e3440;
$color-gray-600: #1f232b;
$color-gray-700: #040506;
$color-gray-800: #000000;
$color-gray-900: #000000;
$color-gray-base: #2E3440;
$color-light-blue-50: #ffffff;
$color-light-blue-100: #ffffff;
$color-light-blue-200: #ffffff;
$color-light-blue-300: #ffffff;
$color-light-blue-400: #f8f9fd;
$color-light-blue-500: #dde3f4;
$color-light-blue-600: #c2cdeb;
$color-light-blue-700: #91a5dc;
$color-light-blue-800: #768fd3;
$color-light-blue-900: #5c78ca;
$color-light-blue-base: #DDE3F4;
$color-background-50: #667093;
$color-background-100: #58607e;
$color-background-200: #495069;
$color-background-300: #3a4054;
$color-background-400: #2f3343;
$color-background-500: #20232e;
$color-background-600: #111319;
$color-background-700: #000000;
$color-background-800: #000000;
$color-background-900: #000000;
$color-background-base: #20232E;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-short: 1;
$line-height-normal: 1.5;
$line-height-tall: 2;
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-pink-50: #fefcfd;
  --color-pink-100: #f6e0e4;
  --color-pink-200: #efc4cc;
  --color-pink-300: #e7a8b4;
  --color-pink-400: #e192a1;
  --color-pink-500: #d97689;
  --color-pink-600: #d15a71;
  --color-pink-700: #b8334d;
  --color-pink-800: #9c2b41;
  --color-pink-900: #802435;
  --color-pink-base: #D97689;
  --color-orange-50: #ffffff;
  --color-orange-100: #fbf2ed;
  --color-orange-200: #f6dbcf;
  --color-orange-300: #f0c5b2;
  --color-orange-400: #ebb39a;
  --color-orange-500: #e59d7c;
  --color-orange-600: #df875e;
  --color-orange-700: #d35f2a;
  --color-orange-800: #b55224;
  --color-orange-900: #98441e;
  --color-orange-base: #E59D7C;
  --color-yellow-50: #ffffff;
  --color-yellow-100: #ffffff;
  --color-yellow-200: #fefbf5;
  --color-yellow-300: #faeed6;
  --color-yellow-400: #f6e4bc;
  --color-yellow-500: #f2d79d;
  --color-yellow-600: #eeca7d;
  --color-yellow-700: #e6b345;
  --color-yellow-800: #e2a625;
  --color-yellow-900: #c9921b;
  --color-yellow-base: #F2D79D;
  --color-green-50: #ffffff;
  --color-green-100: #f6fbf5;
  --color-green-200: #e1f0dc;
  --color-green-300: #cce5c4;
  --color-green-400: #badcb0;
  --color-green-500: #a5d197;
  --color-green-600: #90c67e;
  --color-green-700: #69b252;
  --color-green-800: #5a9c45;
  --color-green-900: #4b833a;
  --color-green-base: #A5D197;
  --color-purple-50: #ffffff;
  --color-purple-100: #fbf8fc;
  --color-purple-200: #ebdff1;
  --color-purple-300: #dcc6e6;
  --color-purple-400: #cfb3dd;
  --color-purple-500: #c09ad2;
  --color-purple-600: #b181c7;
  --color-purple-700: #9555b3;
  --color-purple-800: #82469e;
  --color-purple-900: #6e3b85;
  --color-purple-base: #C09AD2;
  --color-teal-50: #ffffff;
  --color-teal-100: #f0f8f8;
  --color-teal-200: #d7eeeb;
  --color-teal-300: #bfe3df;
  --color-teal-400: #abdad4;
  --color-teal-500: #92cfc8;
  --color-teal-600: #79c4bb;
  --color-teal-700: #4db0a4;
  --color-teal-800: #42978d;
  --color-teal-900: #387e76;
  --color-teal-base: #92CFC8;
  --color-blue-50: #e9f2f7;
  --color-blue-100: #cee1ee;
  --color-blue-200: #b4d1e5;
  --color-blue-300: #99c1dc;
  --color-blue-400: #84b4d5;
  --color-blue-500: #69a4cc;
  --color-blue-600: #4e94c3;
  --color-blue-700: #35729c;
  --color-blue-800: #2c5f81;
  --color-blue-900: #234b67;
  --color-blue-base: #69A4CC;
  --color-gray-50: #7a869f;
  --color-gray-100: #67748f;
  --color-gray-200: #58637a;
  --color-gray-300: #495265;
  --color-gray-400: #3d4555;
  --color-gray-500: #2e3440;
  --color-gray-600: #1f232b;
  --color-gray-700: #040506;
  --color-gray-800: #000000;
  --color-gray-900: #000000;
  --color-gray-base: #2E3440;
  --color-light-blue-50: #ffffff;
  --color-light-blue-100: #ffffff;
  --color-light-blue-200: #ffffff;
  --color-light-blue-300: #ffffff;
  --color-light-blue-400: #f8f9fd;
  --color-light-blue-500: #dde3f4;
  --color-light-blue-600: #c2cdeb;
  --color-light-blue-700: #91a5dc;
  --color-light-blue-800: #768fd3;
  --color-light-blue-900: #5c78ca;
  --color-light-blue-base: #DDE3F4;
  --color-background-50: #667093;
  --color-background-100: #58607e;
  --color-background-200: #495069;
  --color-background-300: #3a4054;
  --color-background-400: #2f3343;
  --color-background-500: #20232e;
  --color-background-600: #111319;
  --color-background-700: #000000;
  --color-background-800: #000000;
  --color-background-900: #000000;
  --color-background-base: #20232E;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}