:root {
  --color-riptide-50: #ffffff;
  --color-riptide-100: #effcfb;
  --color-riptide-200: #d0f8f3;
  --color-riptide-300: #b1f3eb;
  --color-riptide-400: #99efe5;
  --color-riptide-500: #7aeadd;
  --color-riptide-600: #5be5d5;
  --color-riptide-700: #24dcc7;
  --color-riptide-800: #1ebeac;
  --color-riptide-900: #199f90;
  --color-riptide-base: #7aeadd;
  --color-mindaro-50: #ffffff;
  --color-mindaro-100: #fafcef;
  --color-mindaro-200: #f2f8d0;
  --color-mindaro-300: #e9f3b1;
  --color-mindaro-400: #e2ef99;
  --color-mindaro-500: #d9ea7a;
  --color-mindaro-600: #d0e55b;
  --color-mindaro-700: #c0dc24;
  --color-mindaro-800: #a6be1e;
  --color-mindaro-900: #8b9f19;
  --color-mindaro-base: #d9ea7a;
  --color-chetwode-blue-50: #ffffff;
  --color-chetwode-blue-100: #f0effc;
  --color-chetwode-blue-200: #d4d0f8;
  --color-chetwode-blue-300: #b8b1f3;
  --color-chetwode-blue-400: #a199ef;
  --color-chetwode-blue-500: #857aea;
  --color-chetwode-blue-600: #695be5;
  --color-chetwode-blue-700: #3624dc;
  --color-chetwode-blue-800: #2e1ebe;
  --color-chetwode-blue-900: #26199f;
  --color-chetwode-blue-base: #857aea;
  --color-froly-50: #ffffff;
  --color-froly-100: #fcefef;
  --color-froly-200: #f8d0d0;
  --color-froly-300: #f3b1b1;
  --color-froly-400: #ef9999;
  --color-froly-500: #ea7a7a;
  --color-froly-600: #e55b5b;
  --color-froly-700: #dc2424;
  --color-froly-800: #be1e1e;
  --color-froly-900: #9f1919;
  --color-froly-base: #ea7a7a;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}